.App {
  font-family: sans-serif;
  text-align: center;
}

.square-box {
  height: 30px;
  width: 30px;
  background-color: white;
  opacity: 0.2;
  border: 2px solid black;
}

.save {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(7, 145, 7);
  z-index: -1;
  margin: 1px 1px 1px -3px;
}

.sprites {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(206, 35, 72);
  z-index: -1;
  margin: 1px 1px 1px -3px;
}
